/* @group Reset */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */

html, body, applet, object, iframe, svg,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-decoration: inherit;
	text-align: left;
	background: transparent;
}
header, footer, figure, details, hgroup,
section, article, nav, aside {
	display: block;
}
img, object, audio, video, svg {
	max-width: 100%;
}
/* @end Reset */

/* 2015 Erica Remmele */

/* @group Typography */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600|Montserrat:700);


/* $rembase = 10px */
/* $fontbase = 16 */
/* $line-height-base = 26 */

html {
	background-color: #fff;
	font-size: 16px, 100%;
}
body {
	background-color: #fff;
	background: rgba(255,255,255,1);
	margin: 0 0 1rem 0;
	padding: 0 2.5%;
	font-size: 100%;
	/*line-height: 1;*/
	font-family: 'Open Sans', sans-serif;;
	color: #333;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 0;
	max-height: 16%;
	/*padding-top: 1em;
	margin-bottom: 1em;*/
	color: #1C1C1C;
	text-transform: uppercase;
	-webkit-text-stroke: .04em #1C1C1C;
}

.graphicdesign {
	display: inline-block;
	max-width: 12.3rem; /*7.696em;*/
	max-height: 21.49rem; /*13.433em;*/
	float: center;
	margin-top: -1000rem;
	margin-left: 100%;

}
#phic {
	text-indent: 50%;
}
#de {
	text-indent: 33%;
}
#i {
	text-indent: 82%;
}
#gn {
	text-indent: 33%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	line-height: 0%;
	max-height: 16%;
	color: #fff;
	text-transform: uppercase;
	z-index: 9999;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.875rem; /* 14pt */
	line-height: 1rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.625rem; /* 10pt */
	line-height: 0.75rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.625rem; /* 10pt */
	line-height: 0.75rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}
b, strong {
	font-weight: 600;
}
i, em {
	font-family: inherit;
	font-style: 400italic;
}
hr {
	border: none;
	height: 0.1em;
	background: #ccc;
	background-color: rgba(0,0,0,0.2);
}
p, /*ul,*/ ol, hr, table, form, fieldset {
	margin: 1.25em 0;
	line-height: 1.2;
}
li {
	/*list-style-position: inside;*/
	list-style-type: none;
	/*margin-left: 1em;
	text-indent: -1em;*/
}

/* @end Typography */

/* @group Links */

a {
	text-decoration: none;
	white-space: pre-wrap;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a[href]:hover,
a[href]:focus {
	color: #000;
	background-color: #99EDEA;
}
a:active {
	color: #000;
}

.logo a, h1 a, h2 a, h3 a {
	border: none;
}
.logo a {
	text-decoration: none;
	white-space: pre-wrap;
}
.logo a:link {
	color: #000;
}
.logo a:visited {
	color: #000;
}
.logo a[href]:hover,
.logo a[href]:focus {
	color: #000;
	background-color: none;
}
.logo a:active {
	color: #000;
}
/* @end Links */

/* @group Classes */

/* @group social */

.social {
	font-family: 'Open Sans', sans-serif;
}
.social li {
	display: inline;
	margin-left: 0;
	text-indent: 0;
}
.social a {
	display: inline-block;
	padding: 1em;
	line-height: 1;
}
.social a:link,
.social a:visited {
	color: #000;
}
.social a[href]:hover,
.social a[href]:focus {
	color: #000;
	background-color: #99EDEA;
}
.social a:active {
	color: #fff;
	background-color: #B1EEEC;
}

/* @end social */

/* @group newsfeed */

.newsfeed {
	background-color: #fff;
	padding: 2rem 0 2rem 2rem;
	width: 90%;
	background-clip: padding-box;
	display: inline-block;
}
div.newsfeed {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
div.newsfeed {
    -webkit-column-gap: 3%; /* Chrome, Safari, Opera */
    -moz-column-gap: 3%; /* Firefox */
    column-gap: 3%;
}
div.newsfeed {
    -webkit-column-width: 33.33%; /* Chrome, Safari, Opera */
    column-width: 33.33%;
}
div.newsfeed {
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
}


/*----scroll*/


/* @end newsfeed */

/* @navigation */

#navimage a {
	text-decoration: none;
	white-space: pre-wrap;
}
#navimage a:link {
	background-color: none;
	text-decoration: none;
}
#navimage a:visited {
	background-color: none;
	text-decoration: none;
}
#navimage a[href]:hover,
#navimage a[href]:focus {
	background-color: none;
	text-decoration: none;
}
#navimage a:active {
	background-color: none;
	text-decoration: none;
}
.navigation {
	width: 100%;
	} /*might be unnecessary */
.news {
	position: absolute;
	float: center;
	margin: 0 0 0 60%;
	width:16rem;
	height:16rem;
	z-index: 9990;
}
.people {
	position: relative;
	float: center;
	margin: 0 0 0 30%;
	width:16rem;
	height:16rem;
	z-index: 9989;
}
.resources {
	position: relative;
	float: center;
	margin: 0 0 0 60%;
	width:16rem;
	height:16rem;
	z-index: 9988;
}
.studentwork {
	position: relative;
	float: center;
	margin: 0 0 0 45%;
	width:16rem;
	height:16rem;
	z-index: 9987;
}

.home {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.813em; /* 10pt */
	line-height: 1.25;
	letter-spacing: 0.18em;
	text-transform: uppercase;
	padding-right: 3rem;
	margin-left:3rem;
	padding-bottom: 100rem;
}
.homeplace {
	float: left;
	margin-left: 0px;
}

h2.centertext {
	text-align: center;
	position: absolute;
	padding-top: 50%;
	padding-left: 40%;
}

/* @end navigation */

/* @footer */
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	text-transform: uppercase;
	color: #fff;
}
.copyright {
	max-width: 24rem;
}
body > .container {
	padding-top: 60px;
}

.footer {
    width: 121.8rem;
	height: 3.48rem;
    padding: 1.1rem 0 1.1rem 4rem;
    position: fixed;
    bottom: 0;
    background: #1C1C1C;
    z-index: 9999;
    text-transform: uppercase;
}
.footWrap.h6 {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	text-transform: uppercase;
	color: #fff;
}
ul.footer li {
	display: inline;
	margin-top: 40%;
	padding-right: 3rem;
}
.footer a {
	text-decoration: none;
	white-space: pre-wrap;
}
.footer a:link {
	color: #fff;
}
.footer a:visited {
	color: #000;
}
.footer a[href]:hover,
.footer a[href]:focus {
	color: #000;
	background-color: #99EDEA;
}
.footer a:active {
	color: #000;
}

/* FOOTER: Search Form */

.footer /*#searchform*/ { 
	margin-left: 0;
	height: 1.6875rem;
	/*width: 16.4rem;*/
	/* margin:0px 0 0 3px; */
}

.footer input.s {
	width: 16.4rem; /*164px.. everything based on 10px scale*/
	height: 1.6875rem;
	padding: .8rem .8rem;
	margin-right: 0;
	background: #FFF;
	border: none;
	text-transform: uppercase; 
}
	
.footer input.s:focus {
	box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .3);
	color: #333;
	text-indent: 0;
}



/* @group search */

/*[role="search"] {
	position: relative;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 0.75em;
	-webkit-border-radius: 1em;
	-moz-border-radius:1em;
	-o-border-radius: 1em;
	border-radius: 1em;
}
[role="search"] input {
	border: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
[role="search"] input[type="image"] {
	background-color: #fff;
	position: absolute;
	width: 0.9375em;
	top: 0.2em;
	right: 0.6em;
	padding: 0.2em 0.2em;
}*/
/*input[type=search] {
    -webkit-appearance: textfield;
}​​​*/
input {
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
user agent stylesheetinput, textarea, keygen, select, button {
    margin: 0em;
    font: 11px BlinkMacSystemFont;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}


/* @end search */

/* @end footer */

/* @end Classes */